<%- include("partials/header") %>

<h1>Om</h1>

<p>
Denna webbplats är skapad med Node.js och Express.
Data lagras i en SQLite-databas.
</p>

<p>
Jag har lärt mig hur man lagrar, hämtar och visar data från en databas.
</p>

<%- include("partials/footer") %>